.home{
    height: 100vh;
}
.home--vertical{
    height: inherit;
    width: inherit;
    background-image: linear-gradient(to top, black 7%, transparent 90%);
}
.home--horizontal{
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    padding-top: 15px;
    padding-bottom: 45px;
    justify-content: center;
    background-image: linear-gradient(to right, black 38%, transparent 62%);
}
.home--titulo{
    font-weight: bold;
    font-size: 70px;
}
.home--description{
    font-size: 18px;
    width: 45%;
    text-align: justify;
}
.home--info{
    font-size: 18px;
    font-weight: bold;
    margin-top: 23px;
    margin-bottom: 23px;
}
.home--points{
    display: inline-block;
    color: rgb(9, 163, 9);
}
.home--points strong{
    font-weight: bold;
    font-family: Roboto media;
}
.home--points,
.home--ano, 
.home--duracao{
    margin-right: 23px;
    display: inline-block;
}

.home--botoes{
    display: flex;
}
.home--botoes div{
    display: flex;
    margin-top:23px;
    margin-bottom:23px;
    margin-right: 23px;
}
.home--botoes a{
    color: inherit;
    text-decoration: none;
}
.home--botoes .assistir{
    color: black;
    background: rgb(148, 148, 148);
}
.home--botoes  .add{
    color: rgb(255, 255, 255);
    background: rgb(41, 41, 41);
}
.home--botoes .assistir, .home--botoes .add{
    padding: 12px;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    height: 45px;
    font-size: 22px;
    border-radius: 9px;
}
.home--botoes .assistir:hover,
.home--botoes .add:hover{
    opacity: 0.7;
    transition: 0.2s;
    cursor: pointer;    
}
@media screen and (max-width:900px){
    .home--description{
        font-size: 16px;
        width: 70%;
        text-align: justify;
    }
    .home--titulo{
        max-width: 150px;
        font-size: 40px;
    }
    .home--horizontal{
        padding-top: 126px;
    }
}