.linha_filme{
    margin-bottom: 30px;
}
.linha_filme h2{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 30px;
}
.linha_filme--area{
    overflow-x: hidden;
}
.linha_filme--filme{

    display: inline-block;
    width: 150px;
}
.linha_filme--filme img{
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
}
.linha_filme--filme img:hover{
    transform: scale(1);
    cursor: pointer;
}
.linha_filme--total{
    transition: all ease 0.3s;
}
.seta2, .seta1{
    transition: all ease 0.2s;
    opacity: 0;
    z-index: 1;
    position: absolute;
    width: 34px;
    height: 225px;
    display: flex;
    align-items: center;
    background: rgb(126, 126, 126, 0.3);
}
.seta2:hover, .seta1:hover{
    cursor: pointer;
}
.seta1{
    right: 0;
}
.seta2{
    left: 0;
}
.linha_filme:hover .seta1, .linha_filme:hover .seta2{
    opacity: 1;
}
