*{
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto normal;
}
body{
  background: black;
  color:white
}
@font-face {
  font-family: "Roboto normal";
  src: url("./font/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto forte";
  src: url("./font/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto media";
  src: url("./font/Roboto-Regular.ttf");
}
.listas{
  margin-top: -55px;
}
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 23px;
}
.loading{
  transition: all ease 0.8s;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index:99;
  top: 0;
  right: 0;
  left: 0;
  background-color: black;
}
.loading.mostrar{
  display: flex;
}
.loading img{
  height: 100%;
  width: 100%;
}
@media screen and (max-width:900px){
  .listas{
    margin-top: 15px;
  }
  .loading{
    height: 100vh;
  }
  .loading img{
    height: 60vw;
  }
}
