*{
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto normal;
}
body{
  background: black;
  color:white
}
@font-face {
  font-family: "Roboto normal";
  src: url("./font/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto forte";
  src: url("./font/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto media";
  src: url("./font/Roboto-Regular.ttf");
}
.listas{
  margin-top: -55px;
}
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 23px;
}